
# Environment variables
# IDEs
# Node/Frontend
# OS Files
# Python
*.dylib
*.pyc
.DS_Store
.env
.env.*
.idea/
.npm/
.pytest_cache/
.venv/
.vscode/
__pycache__/
build/
dist/
node_modules/
venv/
backend/.env
